fitbit-common/api/sleep-log/logicapps/get-sleep-log_bulk/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
          "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                  "method": "POST",
                  "schema": {
                      "type": "object",
                      "properties": {
                          "date": {
                              "type": "string"
                          }
                      },
                      "required": [
                          "date"
                      ]
                  }
              }
          }
      },
      "actions": {
          "GetAccessToken": {
              "type": "ApiConnection",
              "inputs": {
                  "host": {
                      "connection": {
                          "referenceName": "azureblob"
                      }
                  },
                  "method": "get",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent('/token-storage/access_token.txt'))}/content",
                  "queries": {
                      "inferContentType": true
                  }
              },
              "runAfter": {}
          },
          "CallFitbitSleepAPI": {
              "type": "Http",
              "inputs": {
                  "uri": "https://api.fitbit.com/1.2/user/-/sleep/date/@{triggerBody()?['date']}.json",
                  "method": "GET",
                  "headers": {
                      "Authorization": "Bearer @{body('GetAccessToken')}"
                  }
              },
              "runAfter": {
                  "GetAccessToken": [
                      "SUCCEEDED"
                  ]
              }
          },
          "ParseSleepJSON": {
              "type": "ParseJson",
              "inputs": {
                  "content": "@body('CallFitbitSleepAPI')",
                  "schema": {
                      "type": "object",
                      "properties": {
                          "sleep": {
                              "type": "array",
                              "items": {
                                  "type": "object",
                                  "properties": {
                                      "startTime": {
                                          "type": "string"
                                      },
                                      "endTime": {
                                          "type": "string"
                                      },
                                      "efficiency": {
                                          "type": "integer"
                                      },
                                      "levels": {
                                          "type": "object",
                                          "properties": {
                                              "summary": {
                                                  "type": "object",
                                                  "properties": {
                                                      "deep": {
                                                          "type": "object",
                                                          "properties": {
                                                              "minutes": {
                                                                  "type": "integer"
                                                              }
                                                          }
                                                      },
                                                      "light": {
                                                          "type": "object",
                                                          "properties": {
                                                              "minutes": {
                                                                  "type": "integer"
                                                              }
                                                          }
                                                      },
                                                      "rem": {
                                                          "type": "object",
                                                          "properties": {
                                                              "minutes": {
                                                                  "type": "integer"
                                                              }
                                                          }
                                                      },
                                                      "wake": {
                                                          "type": "object",
                                                          "properties": {
                                                              "minutes": {
                                                                  "type": "integer"
                                                              }
                                                          }
                                                      }
                                                  }
                                              }
                                          }
                                      }
                                  }
                              }
                          }
                      }
                  }
              },
              "runAfter": {
                  "CallFitbitSleepAPI": [
                      "SUCCEEDED"
                  ]
              }
          },
          "CountSleep": {
              "type": "Compose",
              "inputs": "@length(body('ParseSleepJSON')?['sleep'])",
              "runAfter": {
                  "ParseSleepJSON": [
                      "SUCCEEDED"
                  ]
              }
          },
          "CheckHasData": {
              "type": "If",
              "expression": "@greater(outputs('CountSleep'), 0)",
              "actions": {
                  "PrepareData": {
                      "type": "Compose",
                      "inputs": {
                          "client_id": "BDJQ64",
                          "log_date": "@triggerBody()?['date']",
                          "sleep_log_id": "@first(body('ParseSleepJSON')?['sleep'])?['logId']",
                          "is_main_sleep": "@first(body('ParseSleepJSON')?['sleep'])?['isMainSleep']",
                          "type": "@first(body('ParseSleepJSON')?['sleep'])?['type']",
                          "start_time": "@first(body('ParseSleepJSON')?['sleep'])?['startTime']",
                          "end_time": "@first(body('ParseSleepJSON')?['sleep'])?['endTime']",
                          "total_time_in_bed": "@body('ParseSleepJSON')?['summary']?['totalTimeInBed']",
                          "minutes_to_fall_asleep": "@first(body('ParseSleepJSON')?['sleep'])?['minutesToFallAsleep']",
                          "minutes_after_wakeup": "@first(body('ParseSleepJSON')?['sleep'])?['minutesAfterWakeup']",
                          "total_minutes_asleep": "@first(body('ParseSleepJSON')?['sleep'])?['minutesAsleep']",
                          "sleep_efficiency": "@first(body('ParseSleepJSON')?['sleep'])?['efficiency']",
                          "sleep_score": "@first(body('ParseSleepJSON')?['sleep'])?['score']",
                          "score_duration": "@first(body('ParseSleepJSON')?['sleep'])?['scoreDetails']?['duration']?['score']",
                          "score_composition": "@first(body('ParseSleepJSON')?['sleep'])?['scoreDetails']?['composition']?['score']",
                          "score_revitalization": "@first(body('ParseSleepJSON')?['sleep'])?['scoreDetails']?['revitalization']?['score']",
                          "awakenings_count": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['wake']?['count']",
                          "awakenings_duration": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['wake']?['minutes']",
                          "minutes_deep_sleep": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['deep']?['minutes']",
                          "minutes_light_sleep": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['light']?['minutes']",
                          "minutes_rem_sleep": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['rem']?['minutes']",
                          "minutes_awake": "@first(body('ParseSleepJSON')?['sleep'])?['levels']?['summary']?['wake']?['minutes']",
                          "avg_hr_sleep": "@first(body('ParseSleepJSON')?['sleep'])?['heartRate']?['average']",
                          "breathing_rate": "@first(body('ParseSleepJSON')?['sleep'])?['breathingRate']",
                          "skin_temp_deviation": "@first(body('ParseSleepJSON')?['sleep'])?['temperatureDeviation']",
                          "raw_json": "@string(body('CallFitbitSleepAPI'))"
                      }
                  },
                  "InsertToSQL": {
                      "type": "ApiConnection",
                      "inputs": {
                          "host": {
                              "connection": {
                                  "referenceName": "sql"
                              }
                          },
                          "method": "post",
                          "body": {
                              "avg_hr_sleep": "@outputs('PrepareData')['avg_hr_sleep']",
                              "awakenings_count": "@outputs('PrepareData')['awakenings_count']",
                              "awakenings_duration": "@outputs('PrepareData')['awakenings_duration']",
                              "breathing_rate": "@outputs('PrepareData')['breathing_rate']",
                              "client_id": "@outputs('PrepareData')['client_id']",
                              "end_time": "@outputs('PrepareData')['end_time']",
                              "is_main_sleep": "@outputs('PrepareData')['is_main_sleep']",
                              "log_date": "@outputs('PrepareData')['log_date']",
                              "minutes_after_wakeup": "@outputs('PrepareData')['minutes_after_wakeup']",
                              "minutes_awake": "@outputs('PrepareData')['minutes_awake']",
                              "minutes_deep_sleep": "@outputs('PrepareData')['minutes_deep_sleep']",
                              "minutes_light_sleep": "@outputs('PrepareData')['minutes_light_sleep']",
                              "minutes_rem_sleep": "@outputs('PrepareData')['minutes_rem_sleep']",
                              "minutes_to_fall_asleep": "@outputs('PrepareData')['minutes_to_fall_asleep']",
                              "raw_json": "@outputs('PrepareData')['raw_json']",
                              "score_composition": "@outputs('PrepareData')['score_composition']",
                              "score_duration": "@outputs('PrepareData')['score_duration']",
                              "score_revitalization": "@outputs('PrepareData')['score_revitalization']",
                              "skin_temp_deviation": "@outputs('PrepareData')['skin_temp_deviation']",
                              "sleep_efficiency": "@outputs('PrepareData')['sleep_efficiency']",
                              "sleep_log_id": "@outputs('PrepareData')['sleep_log_id']",
                              "sleep_score": "@outputs('PrepareData')['sleep_score']",
                              "start_time": "@outputs('PrepareData')['start_time']",
                              "total_minutes_asleep": "@outputs('PrepareData')['total_minutes_asleep']",
                              "total_time_in_bed": "@outputs('PrepareData')['total_time_in_bed']",
                              "type": "@outputs('PrepareData')['type']"
                          },
                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[InsertSleepLog]'))}"
                      },
                      "runAfter": {
                          "PrepareData": [
                              "SUCCEEDED"
                          ]
                      }
                  }
              },
              "else": {
                  "actions": {}
              },
              "runAfter": {
                  "CountSleep": [
                      "SUCCEEDED"
                  ]
              }
          }
      },
      "outputs": {}
  },
  "kind": "Stateful"
}